body {
	margin: 0px; /* we want a borderless canvas */
}

#progressBar {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 0.5em;
	background: #69f;
}

#loadingOverlay{
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: #000;
}

#logo{
	max-width: 20%;
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	right: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%)
}

.fade-in {
	animation: fadeIn ease 1.5s infinite;
  }
  
  @keyframes fadeIn {
	 0% {
	   opacity:0;
	 }
	 50% {
	   opacity:1;
	 }
	100% {
	  opacity: 0;
	}
}

@keyframes fadeOut {
	0% {
		opacity:1;
	  }
	  100% {
		opacity:0;
	  }
}


#missionText {
	position: fixed;
    top: 0.7em;
    text-align: center;
    width: 100%;
    color: lightyellow;
    font-size: 2.5em;
	/* Kapitälchen */
	font-variant: small-caps;
	/* black outline, not perfect, but better than nothing */
    text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
	/* cannot be selected */
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

#bottomLeft {
	position: fixed;
	bottom: 0em;
	padding: 1em;
	/* cannot be selected */
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
	color: moccasin;
	/* black outline */
    text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
}

#chat {
	font-size: 1.2em;
}

#controlHints {
	font-size: 2em;
	text-align: center;
	/* Kapitälchen */
	font-variant: small-caps;
}

#inventory {
	/*textbox*/
	position: fixed;
	visibility: hidden;
	right : 0px;
	bottom: 0em;
	height: 40%;
	width: 20%;
	background-color: rgb(228, 201, 155);
	border: 2px black;
	border-radius: 10px;
	border-style: groove;
	opacity: 0.75;
	/*text*/
	padding: 0.5em; /*abstand textbox rand*/
	color: #000;
	font-size: 1.2em;
	text-align: left;
	/* Kapitälchen */
	font-variant: small-caps;
	font-weight: bold;
	/* cannot be selected */
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

#infoPicture {
	position: fixed;
	visibility: hidden;
	top: 30;
    left: 30;
    right: 30;
    bottom: 30;
	opacity: 1;	
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
	transition: transform ease-in-out 0.3s;
}

.imageBox {	/* part of infoPictore */
	display: grid;
	margin: 0 auto;
	max-width: 100%;
}

#dispImage:active{transform: scale(1.3)}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	/*(0,0,0, X) -> X passt dunkelheit des overlays an*/
    background-color: rgba(0, 0, 0, .75);
    pointer-events: none;
	/*is needed?*/
	/* cannot be selected */
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
  }
  
#overlay.active {
    opacity: 1;
    pointer-events: all;
	/*is needed?*/
	/* cannot be selected */
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

#button{
	position: fixed;
    opacity: 0;
	top: 20%;
	right: 5%;
	border-radius: 40%;
	/* cannot be selected */
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

#button.active{
	position: fixed;
    opacity: 95;
	top: 20%;
	right: 5%;
	border-radius: 40%;
	background-color: rgb(228, 201, 155);
	/*text*/
	padding: 0.5em; /*abstand textbox rand*/
	color: #000;
	font-size: 1.2em;
	text-align: center;
	/* Kapitälchen */
	font-variant: small-caps;
	font-weight: bold;
	/* cannot be selected */
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

.joystick {
	margin: 5vh;
	position: fixed;
	bottom: 0px;
	display: none;
}

#abbeanum-quiz{
	position: fixed;
	visibility: hidden;
	height: 40%;
	width: 50%;
	top: 25%;
	left: 25%;
	margin: 0 auto;
	
	background-color: rgb(228, 201, 155);
	border: 2px black;
	border-radius: 10px;
	border-style: groove;
	opacity: 0.75;
	/*text*/ 
	padding: 0.5em; /*abstand textbox rand*/
	color: #000;
	font-size: 1.5em;
	text-align: center;
	/* Kapitälchen */
	font-variant: small-caps;
	font-weight: bold;
	/* cannot be selected */
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}
/* buttons for quiz */
.answer-btns{
	display: grid;
	margin: 10px 0;
	gap: 8px;
	justify-content: center;
	font-size: 1.4rem;
}
.btn {
	background-color: darkslategray;
	color: white;
	border: 2px solid black;
	border-radius: 5px;
	padding: 5px 10px;
	outline: none;
}
.btn:hover {
	border-color:white;
}
.btn.correct {
	background-color: #008000;
}
.btn.wrong {
	background-color: #ff0000;
}
.start-btn, .next-btn, .exit-btn {
	gap: 15px;
	font-size: 1.2rem;
	padding: 7px 12px;
	background-color: cadetblue;
	color: black;
	font-weight: bold;
}
.hide {
	display: none;
}
