body {
	margin: 0px; /* we want a borderless canvas */
}

#progressBar {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 0.5em;
	background: #69f;
}

#missionText {
	position: fixed;
    top: 0.7em;
    text-align: center;
    width: 100%;
    color: lightyellow;
    font-size: 2.5em;
	/* Kapitälchen */
	font-variant: small-caps;
	/* black outline, not perfect, but better than nothing */
    text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
	/* cannot be selected */
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

#controlHints {
	position: fixed;
	bottom: 0em;
	padding: 1em;
	color: moccasin;
	font-size: 2em;
	text-align: center;
	/* Kapitälchen */
	font-variant: small-caps;
	/* black outline */
    text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
	/* cannot be selected */
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

#inventory {
	/*textbox*/
	position: fixed;
	visibility: hidden;
	right : 0px;
	bottom: 0em;
	height: 40%;
	width: 20%;
	background-color: rgb(228, 201, 155);
	border: 2px black;
	border-radius: 10px;
	border-style: groove;
	opacity: 0.75;
	/*text*/
	padding: 0.5em; /*abstand textbox rand*/
	color: #000;
	font-size: 1.2em;
	text-align: left;
	/* Kapitälchen */
	font-variant: small-caps;
	font-weight: bold;
	/* cannot be selected */
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	/*(0,0,0, X) -> X passt dunkelheit des overlays an*/
    background-color: rgba(0, 0, 0, .75);
    pointer-events: none;
	/*is needed?*/
	/* cannot be selected */
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
  }
  
#overlay.active {
    opacity: 1;
    pointer-events: all;
	/*is needed?*/
	/* cannot be selected */
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}